
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    .jumbotron {
      margin-bottom: 0px;
      background-color: #7979d2;
    }
    footer {
      background-color: #4f5b66;
      color: #ffffff;
      padding: 160px;
    }
    .fa {
      padding: 20px;
      font-size: 30px;
      width: 80px;
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;
      border-radius: 50%;
      border-style: solid;
      border-color: #ffffff;
    }

    .fa:hover {
        opacity: 0.7;
    }

    .fa-facebook {
      background: #4f5b66;
      color: white;
    }

    .fa-twitter {
      background: #4f5b66;
      color: white;
    }

    .fa-google {
      background: #4f5b66;
      color: white;
    }

    .fa-youtube {
      background: #4f5b66;
      color: white;
    }

    .fa-instagram {
      background: #4f5b66;
      color: white;
    }
	
	.nav-tabs > li > a{
      color:#4f5b66;
      font-size: 20px;
      font-family: Arial;
      font-weight: bold;    
    }
	
	.fa-car{
	  font-size: 50px;
	  color: #41a0f4; 
      width: 100%;
	}

    .fa-paw{
      font-size: 50px;
      color: #f4425c; 
      width: 100%;
	}

	.fa-book{
      font-size: 50px;
      color: #41a0f4; 
      width: 100%;
	}

    .fa-mobile{
      font-size: 50px;
      color: #f4425c; 
      width: 100%;
    }

    .fa-desktop{
      font-size: 50px;
      color: #f4425c; 
      width: 100%;
    }

    .fa-shopping-cart{
      font-size: 50px;
      color: #41a0f4; 
      width: 100%;
    }

    .fa-suitcase{
      font-size: 50px;
      color: #f4425c; 
      width: 100%;
    }

    .fa-bed{
      font-size: 50px;
      color: #41a0f4; 
      width: 100%;
    }

    /*font style for the item category under item icon*/
    .item-category{
      font-family: Arial;
      font-weight: bold;
      font-size: 18px;
    }

  