/*Category*/
.leftsidebar > h4{
  font-family: Arial;
  font-weight: bold;

}

.leftsidebar >ul > li > h4{
  font-family: Arial;
  font-weight: bold;
}

/*sub category*/
.leftsidebar > li{
  font-weight: bold;
}

/*sub-sub category*/
.leftsidebar > li >ul >li >a{
  font-weight: bold;
  color:#338c4b;
}

 #slidecontainer {
  width: 100%;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 28px;
    height: 28px;
    border: 0;
    background: url('../images/distance.png');
    cursor: pointer;
}