/* CSS Document */

#forget {

	/*margin-top: -10px !important;*/
	padding: 10px;
	/*text-align: left;*/
	/*vertical-align: center;*/
	margin-left: -30px;
	font-size: 12px;
	/*background-color: orange;*/
	/*max-width: 340px;*/
	/*margin: -40px auto;*/
}


body {

	background-color: #eee;
}

.alert {

	margin-bottom: 0px;
	font:"Times New Roman", Times, serif;
    color: red;
/*	font-size:30px;*/
}

.container.center {

	margin: 100px auto;
	padding: 10px 80px;
	width:60%;
	height: 60%;
	background-color: white;
}

.container.header {

	padding: 20px;
	width:55%;
	margin-bottom: -80px;
}

#signin {

	text-align: left;
	font-size: 50px;
	color: blue;
	font-family: times;
	margin-left: 0px;
	margin-bottom: 30px;
}
